/* General */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #000000;
  color: #fff;
  box-sizing: border-box;
  position: relative;
}

/*Fondo Oscuro*/
.fondo-oscuro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3 ease;
}

.fondo-oscuro.visible {
  opacity: 1;
  visibility: visible;
  z-index: 6;
}

/* Fondo con imagen de fondo y degradado */

.imagen-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.8);
  opacity: 0.7;
  pointer-events: none;
}

.imagen-fondo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent 15%),
  linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent 15%),
  linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent 10%),
  linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent 10%);
  z-index: 1;
  pointer-events: none;
}
/* Contenedor general */
.contenedor-pelicula {
  position: relative;
  padding-top: 45px;
  overflow: hidden;
  min-height: 600px;
  z-index: 2;
} 

/* Contenido */
.contenido-pelicula {
  max-width: 1000px;
  margin-left: 100px;
  position: relative;
  z-index: 2;
  /* */
  background: rgba(0, 0, 0, 0.2); /* fondo oscuro semitransparente */
  -webkit-backdrop-filter: blur(1px); /* soporte para Safari */
  backdrop-filter: blur(1px);
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);

}

/* Titulo */
.titulo-pelicula {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

/* Info compacta */
.info-pelicula {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 20px;
}

.link-genero {
  color: #3bcc5a;
  text-decoration: none;
  transition: transform 0.2s;
}

.link-genero:hover {
  color: #fff;
  text-decoration: underline;
  transform: scale(1.05);
}

/* Sinopsis */
.sinopsis-pelicula {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
  /*font-weight: 600*/
}

/* Botones */
.botones-pelicula {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 300px;
}

/* Ver ahora */
.boton-ver-ahora {
  background-color: #7359a1;
  color: white;
  border: none;
  padding: 16px 24px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton-ver-ahora:hover {
  background-color: #5e4690;
}

/* Ver mas */
.boton-ver-mas {
  background-color: rgba(0, 0, 0, 0.2);
  color: #e1e0e0;
  border: 1px solid #7359a1;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.boton-ver-mas:hover {
  background-color: rgba(0,0,0,0.4);
  color: #fff;
}

/* Detalles adicionales */
.detalles-ocultos {
  display: none;
  margin-top: 15px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #7359a1;
  border-radius: 10px;
  font-size: 14px;
  color: #ddd;
}

.detalles-ocultos.visible {
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Video */
.video-oculto {
  display: none;
  margin-top: 30px;
}

.video-oculto.visible {
  display: block;
}

/* video pantalla completa*/
#video-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#video-overlay video {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
  border-radius: 10px;
}

/*Responsive momento*/


@media (max-width: 464px) {
  .contenedor-pelicula {
    margin: 0 5px;
    padding-top: 33px;
  }
  .contenido-pelicula {
    padding: 15px 35px;
    max-width: 650px;
    margin: 0 auto;
  }

  .titulo-pelicula {
    font-size: 26px; /* más chico */
  }

  .sinopsis-pelicula {
    font-size: 15px;
  }

  #video-container iframe {
    height: 250px;
  }
}


@media (min-width: 465px) and (max-width: 600px) {
  .contenedor-pelicula {
    margin: 0 8px;
    padding-top: 33px;
  }
  .contenido-pelicula {
    padding: 15px 35px;
    max-width: 650px;
    margin: 0 auto;
  }

  .titulo-pelicula {
    font-size: 30px;
  }

  .sinopsis-pelicula {
    font-size: 15px;
  }

  #video-container iframe {
    height: 220px;
  }
}


@media (min-width: 601px) and (max-width: 817px) {
  .contenedor-pelicula {
    margin: 0 12px;
    padding-top: 37px;
  }
  .contenido-pelicula {
    padding: 35px;
    max-width: 650px;
    margin: 0 auto;
  }

  .titulo-pelicula {
    font-size: 34px;
  }

  .sinopsis-pelicula {
    font-size: 16px;
  }

  #video-container iframe {
    height: 250px;
  }
}


@media (min-width: 818px) and (max-width: 919px) {
  .contenedor-pelicula {
    margin: 0 20px;
    padding-top: 40px;
  }
  .contenido-pelicula {
    padding: 38px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .titulo-pelicula {
    font-size: 36px;
  }

  .sinopsis-pelicula {
    font-size: 16.5px;
  }

  #video-container iframe {
    height: 280px;
  }
}


@media (min-width: 920px) and (max-width: 1024px) {
  .contenedor-pelicula {
    margin: 0 20px;
    padding-top: 40px;
  }
  .contenido-pelicula {
    padding: 38px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .titulo-pelicula {
    font-size: 40px;
  }

  .sinopsis-pelicula {
    font-size: 17px;
  }

  #video-container iframe {
    height: 320px;
  }
}


@media (min-width: 1025px) and (max-width: 1140px) {
  .contenedor-pelicula {
    margin: 0 20px;
    padding-top: 40px;
  }
  .contenido-pelicula {
    padding: 38px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .titulo-pelicula {
    font-size: 42px;
  }

  .sinopsis-pelicula {
    font-size: 17.5px;
  }

  #video-container iframe {
    height: 350px;
  }
}


@media (min-width: 1141px) and (max-width: 1280px) {
  .contenedor-pelicula {
    margin: 0 20px;
  }
  .contenido-pelicula {
    padding: 38px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .titulo-pelicula {
    font-size: 45px;
  }

  .sinopsis-pelicula {
    font-size: 18px;
  }

  #video-container iframe {
    height: 400px;
  }
}


@media (min-width: 1281px) and (max-width: 1440px) {
  .contenido-pelicula {
    padding: 40px;
  }

  .titulo-pelicula {
    font-size: 48px; /* ya es el tuyo actual */
  }

  .sinopsis-pelicula {
    font-size: 18px;
  }

  #video-container iframe {
    height: 450px;
  }
}


@media (min-width: 1441px) and (max-width: 1920px) {
  .contenido-pelicula {
    padding: 45px;
  }

  .titulo-pelicula {
    font-size: 50px;
  }

  #video-container iframe {
    height: 500px;
  }
}


@media (min-width: 1921px) {
  .contenido-pelicula {
    padding: 50px;
    max-width: 1400px;
  }

  .titulo-pelicula {
    font-size: 54px;
  }

  #video-container iframe {
    height: 600px;
  }
}
